*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
        background-color: blueviolet;
        padding: 10px;
}
.cabeca img{ 
width: 70px;

}
.cabeca{
    display: flex;
    justify-content: space-between
    
}
.cabeca2 ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 100px;
   text-align: center;
}
.cabeca2 ul li{
    list-style: none;
   
}
.cabeca2 ul li a{
    text-decoration: none;
    color:white
}
.cabeca2 ul li a:hover{
    text-decoration: none;
    color:pink;
}

.imagemLugares{
    display: flex;
    justify-content: center;
}
.imagemLugares img{
    width: 1400px;
    height: 400px;
    margin: 20px;
}
.formularioPai {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f4f4f9;
}


.forms {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; 
}


.form {
    margin-bottom: 20px;
}


label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}


input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: rgb(97, 0, 253);; 
}


input[type="radio"] {
    margin-right: 10px;
}


label[for="masculino"],
label[for="feminino"],
label[for="outros"] {
    font-size: 16px;
    color: #333;
    margin-right: 15px;
}


.form label[for="sexo"] {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:rgb(97, 0, 253);
}
footer{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
}