*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
        background-color: blueviolet;
        padding: 10px;
}
.cabeca img{ 
width: 70px;

}
.cabeca{
    display: flex;
    justify-content: space-between
    
}
.cabeca2 ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 100px;
   text-align: center;
}
.cabeca2 ul li{
    list-style: none;
   
}
.cabeca2 ul li a{
    text-decoration: none;
    color:white
}
.cabeca2 ul li a:hover{
    text-decoration: none;
    color:pink;
}
.imagemLugares{
    display: flex;
    justify-content: center;
}
.imagemLugares img{
    width: 1400px;
    height: 400px;
    margin: 20px;
}
.produtos img{
width: 200px;
height: 200px;
}
.produtosPai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.produtos{
background-color: #BE2323;
padding: 50px;
margin: 10px  ;
width: 300px;
height: 500px;
}
.pai h1{
    color: white;
    background-color: #BE2323;
    text-align: center;
    margin-top: 20px    ;
    margin-left: 100PX ;
    margin-right: 100px; ;
    border-radius: 10px ;
}
.produtos p{
    color: white;
    margin: 10px;
    text-align: center;
   
}
.produtos h4{
    background-color: white;
    text-align: center;
    border-radius: 5px;
}



footer{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
}