footer{
    background-color: #A8A8A8;
    padding: 20px;
    text-align: center;
    margin-top: 234px;
    font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #A8A8A8;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: 50%;

}

.cabecario img{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 2px;
    top: 10px;
}
.cabecario{
    text-align: center;
    height: 50px;
    
}
.cabecario h1{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    
}
.apresentacao{
    margin-top: 40px ;
    font-size: 30px;
text-align: center;
margin-bottom: 39px;
}
.apresentacao img{
    height: 100px;
    width: 100px;
}
.loginPai{
    display: flex;
    justify-content: center;

}
.form{
        margin-top:50px;
        margin-bottom: 132px;
}

.login{
  background-color: #d9d9d9;
width: 600px;
height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
        box-shadow:  0 30px 90px rgb(158, 158, 158);
        border-radius: 32px;
}
.login label{
    margin-bottom: 10px;    
    margin-top: 20px;
    font-size: 20px;
    
}
.login input{
    border-radius: 16px;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
p{
    text-align: center;
    margin: 34px;
}

.entrar button{
background-color: #A8A8A8;
border: none;
margin-top: 50px;
        border-radius: 32px;
        width: 400px;
        height: 50px;
margin-left: 100px;
margin-right: 100px;
    font-size: 20px;
cursor: pointer;

}
.entrar a{
    color: black;
    text-decoration: none;

}

.entrar button:hover{
background-color: #777777;
}

.entrarGooglePai{
display: flex;
justify-content: center;

}
.entrarGoogle button{
background-color: #A8A8A8;
        border-radius: 32px;
        width: 400px;
        height: 50px;
      font-size: 15px;
    display: flex;
    justify-content: space-around;
   align-items: center;
   border: none;
}
.entrarGoogle img{
margin-left: 100px;
}
.entrarGoogle a{
    color: black;
    text-decoration: none;
    margin-right: 120px;
   
}
.entrarGoogle button:hover{
    background-color: #ffffff;
    border: solid 2px green;
}
.entrarGoogle a:hover {
    color:rgb(0, 0, 0);

}
